<p>Xin chào {{account.name}}! </p>
<p>Tài khoản <b>Quản lý công việc</b> của bạn đã được kích hoạt</p>
<p>Mật khẩu: {{password}}</p>
<p>Vui lòng không để lộ mật khẩu này.</p>
<p>Chúng tôi xin chân thành cám ơn!</p>