<p>Xin Chào {{account.name}}</p>
<p>Đây <a href="http://localhost:3000/account/reset-password?pw_token={{pw_token}}"> http://localhost:3000/account/reset-password?pw_token={{pw_token}} </a> là đường dẫn dùng để đặt lại mật khẩu tài khoản quản lý công việc của bạn. Vui lòng không chia sẻ với bất kỳ ai!
Chúng tôi xin chân thành cảm ơn! </p>


